<page title="Documentation"
navbar-doc="active"
>
<div class="alert alert-warning">
We assume Stog was correctly installed (see <page href="install"/>)
and the <icode>stog</icode> and <icode>stog-ocaml-session</icode>
executables are in your <icode>PATH</icode>.
</div>

<section title="General considerations">
All text is assumed to be UTF-8.
</section>

<section title="Topics">
<ul class="toc">
<li><page href="getting_started" quotes="false"/></li>
<li><page href="funs" quotes="false"/></li>
<li><page href="plugins" quotes="false"/></li>
<li><a href="&lt;site-url/&gt;/ref-doc/index.html">Library reference documentation</a></li>
</ul>
</section>
</page>