<page title="Plugins"
navbar-plugins="active"
>
<p>
The following plugins exist for Stog:
</p>
<ul>
<li><elt href="stog-rdf"/>,</li>
<li><elt href="/stog-writing"/>.</li>
</ul>
<p>
<a href="mailto:zoggy AT bat8.org">Tell me</a> if you known about other plugins.
</p>
</page>